#heroBlock {
    background-image: url(./assets/wednesday.png);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    /* animation: slideImages 60s ease 0s infinite backwards alternate; */
    background-clip: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

#spinner {
    animation: spin 20s ease infinite forwards ;
    margin-left: 35%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1080deg);
    }
}